---
import { type Icon as IconType } from "@lucide/astro";

interface Props {
  title: string;
  description: string;
  icon: typeof IconType;
  image: string;
  imageAlt?: string;
  color: string;
  link?: string;
}

const { title, description, icon: Icon, image, color, link, imageAlt } = Astro.props;
const iconTextColor = `text-${color}-600`;
const iconContainerColor = `bg-${color}-100 group-hover:bg-${color}-600`;
---

<a class="group rounded-xl border border-gray-100 p-8 transition-all duration-300 hover:shadow-xl" href={link ?? ""}>
  <div class={`mb-6 flex h-14 w-14 items-center justify-center rounded-lg transition-colors ${iconContainerColor}`}>
    <Icon class={`text-2l ${iconTextColor} group-hover:text-white`} />
  </div>
  <h3 class="mb-3 text-xl font-bold text-gray-900">{title}</h3>
  <p class="mb-4 text-gray-600">{description}</p>
  <div class="flex aspect-video items-center justify-center rounded-lg bg-gradient-to-br from-gray-50 to-gray-100">
    <img src={`${image}`} alt={`${imageAlt ?? "Memova Illustration Funktion"}`} />
  </div>
</a>
